In [8]:
#Importing the required libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.neighbors import *

In [3]:
#Save x and y as dataframes. 
digit = load_digits()
x = digit.data
y = digit.target

In [4]:
x.shape, y.shape

((1797, 64), (1797,))

#### Split the dataset into training and testing sets.

In [7]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

#### KNN ALgorithm

In [9]:
knn = KNeighborsClassifier(n_neighbors = 2)

In [10]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

In [14]:
pred = knn.predict(X_test)
pred

array([9, 1, 8, 7, 4, 0, 9, 4, 2, 1, 7, 3, 8, 1, 5, 6, 6, 5, 7, 9, 2, 0,
       1, 8, 4, 0, 6, 3, 6, 4, 2, 7, 0, 4, 3, 2, 5, 0, 0, 6, 1, 1, 5, 8,
       7, 3, 5, 0, 9, 2, 8, 8, 6, 6, 7, 5, 2, 2, 1, 1, 4, 8, 0, 4, 3, 6,
       7, 7, 2, 6, 0, 6, 3, 8, 3, 0, 7, 6, 9, 9, 9, 2, 9, 3, 1, 1, 0, 8,
       5, 2, 1, 1, 0, 1, 0, 5, 3, 4, 2, 0, 1, 0, 9, 7, 9, 3, 6, 9, 5, 6,
       6, 3, 6, 1, 1, 4, 9, 4, 2, 9, 1, 1, 0, 7, 0, 7, 3, 5, 5, 5, 1, 3,
       4, 1, 9, 4, 1, 5, 3, 2, 7, 0, 7, 7, 4, 2, 5, 4, 1, 2, 9, 5, 8, 9,
       9, 4, 1, 4, 6, 7, 4, 9, 2, 1, 4, 0, 5, 4, 8, 3, 5, 4, 1, 4, 4, 8,
       7, 7, 5, 6, 2, 4, 1, 4, 0, 0, 3, 0, 9, 9, 1, 3, 4, 9, 3, 9, 5, 7,
       8, 2, 2, 0, 6, 8, 2, 0, 6, 1, 7, 8, 3, 5, 0, 3, 2, 3, 4, 9, 4, 3,
       0, 3, 5, 2, 9, 1, 3, 1, 0, 8, 3, 1, 3, 8, 0, 1, 2, 6, 4, 5, 3, 6,
       0, 9, 7, 9, 6, 8, 7, 0, 2, 9, 8, 8, 8, 0, 0, 8, 9, 0, 2, 7, 1, 7,
       0, 1, 5, 8, 0, 4, 2, 8, 4, 3, 1, 3, 5, 7, 6, 3, 8, 7, 2, 0, 9, 5,
       6, 1, 6, 2, 5, 1, 3, 9, 0, 8, 3, 3, 5, 7, 4, 4, 2, 5, 7, 7, 0, 8,
       1, 1, 4, 3, 5, 3, 0, 2, 9, 4, 9, 3, 1, 6, 9, 6, 5, 6, 8, 7, 2, 8,
       3, 0, 8, 1, 1, 5, 3, 1, 3, 4, 2, 6, 6, 9, 0, 4, 9, 4, 3, 7, 6, 1,
       6, 5, 8, 5, 1, 3, 0, 6, 9, 2, 2, 4, 7, 6, 4, 2, 8, 2, 4, 5, 5, 2,
       7, 1, 9, 9, 3, 8, 4, 0, 1, 4, 3, 3, 1, 7, 9, 6, 0, 0, 5, 8, 1, 1,
       2, 1, 1, 6, 1, 2, 7, 1, 2, 6, 9, 4, 3, 9, 8, 4, 5, 4, 0, 5, 8, 9,
       7, 5, 3, 1, 8, 4, 2, 4, 3, 6, 7, 1, 9, 9, 3, 0, 7, 1, 2, 2, 8, 4,
       5, 8, 1, 1, 7, 1, 1, 8, 5, 9, 3, 0, 9, 9, 2, 9, 4, 0, 2, 2, 1, 7,
       1, 8, 9, 6, 4, 7, 5, 4, 9, 7, 1, 9, 7, 4, 0, 3, 0, 5, 3, 3, 4, 5,
       1, 4, 4, 8, 1, 1, 5, 7, 1, 7, 4, 4, 6, 9, 3, 5, 4, 5, 3, 5, 2, 3,
       4, 3, 3, 9, 5, 8, 8, 2, 4, 4, 6, 2, 2, 4, 0, 7, 1, 3, 0, 2, 7, 2,
       1, 1, 2, 8, 6, 6, 3, 2, 7, 7, 2, 8])

In [12]:
result = pd.DataFrame({"Predicted":pred,"Actual":y_test})

In [15]:
result.head()

   Predicted  Actual
0          9       9
1          1       1
2          8       8
3          7       7
4          4       4

#### KNN Score:

In [16]:
knn.score(X_test,y_test)*100

98.33333333333333